# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
*.local
.env
.env.*
